*{
    padding: 0 ;
    
}

canvas{
    background: #eee;
    display: block;
    margin: 0 auto;
    
}

a{
    text-decoration: none;
    color:black
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button{
    margin-top: 20px;
}