.grid{
    display:grid;
    background-color: white;
    gap : 5px;
    height: 100vh;
    grid-template:
    "name nav" 0.5fr
    "content content" 4fr
    "footer footer" 0.5fr
    ;
}

.home{
    
    text-decoration: none;
    
    color: black;
    
    }
    
    
.home:hover{

color: darksalmon;

background-color: whitesmoke;

}

.name{
    grid-area: name;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

}
#name_link:hover{
    color: darksalmon;
    background-color: whitesmoke;
    
}




.nav{
    grid-area: nav;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


#menu ul li {
    list-style: none;
    color: bisque;
    background-color: white;
    float: left;
    line-height: 12px;
    vertical-align: middle;
    text-align: center;
}

#menu .menu_link {
    text-decoration: cornflowerblue;
    color:black;
    display: flex;
    width: 80px;
    font-size: 12px;
    justify-content: flex-end;
    align-content: flex-end;
}

#menu .menu_link:hover{
    color: darksalmon;
    background-color: whitesmoke;
}

/*content start*/

.content{
    grid-area:content;
    background: #faf7f7;
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 10px; 
}
.introduce{
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
    border: 10px solid white ;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 20px;
    margin-bottom: 10px;
}
.specific_detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_introduce_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.etc{
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
}

.content_etc_list{
    list-style: none;
    background-color: faf7f7;
    line-height: 0.5fr;

}

.content_skills{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
    border: 10px solid white ;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.skills_explain{
    text-align: center;

}


.content_skills_border{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.skills_box{
    display: flex;
    flex-direction:column ;
    margin-left: 20px;
}

.skills_box ul li{
    list-style: none;

}
.content_education_border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid white ;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;

}

.content_education{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.skills_explain{
    display: flex;
    width: min-content;
    height: min-content;
    background-color: faf7f7;
}

/*footer start*/
.footer{
    display: grid;
    font-size: 10px;
    grid-area:footer;
    background-color: white;
    font-family: 'Montserrat', sans-serif; 
    grid-template: 
    "copy_right contact"

}
.copy_right{
    grid-area:copy_right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif; 
}


.contact{
    grid-area:contact;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
}
#call{
    align-self: center;
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
}

#write{
    align-self: center;
}

.sns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
}
#follow{
    align-self:center;
}
.sns_image{
    align-self: center;
}

