.grid{
    display:grid;
    background-color: white;
    gap : 5px;
    height: 100vh;
    grid-template:
    "name nav" 0.5fr
    "content content" 4fr
    "footer footer" 0.5fr
    ;
}

.home{
    
    text-decoration: none;
    
    color: black;
    
    }
    
    
.home:hover{

color: darksalmon;

background-color: whitesmoke;

}

.name{
    grid-area: name;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

}
#name_link:hover{
    color: darksalmon;
    background-color: whitesmoke;
    
}




.nav{
    grid-area: nav;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


#menu ul li {
    list-style: none;
    color: bisque;
    background-color: white;
    float: left;
    line-height: 12px;
    vertical-align: middle;
    text-align: center;
    
}

#menu .menu_link {
    text-decoration: cornflowerblue;
    color:black;
    display: flex;
    width: 80px;
    font-size: 12px;
    justify-content: flex-end;
    align-content: flex-end;
}

#menu .menu_link:hover{
    color: darksalmon;
    background-color: whitesmoke;
}

.content{
    grid-area:content;
    background: #faf7f7;
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.content_box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content_box_button_button{
    text-decoration: none;
    
    text-emphasis: none;
    
    text-decoration-color: black;
    
}

button{
    border-radius: 40px solid white;
    font-size: 10px;
    height: 25px;
    width: 100px;
    background-color: faf7f7;
    color: black;
}

.content_box_image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 250px;
    background-color: white;

}

#mypicture{
    width: 130px ;
    height: 130px;
    border: 10px;
    border-radius: 100px;

}

.content_box_hello{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 300px;
    background-color: whitesmoke;

}
#Hello{
    font-size: 50px;
    align-self: center;
}

#here{
    font-size: 1fr;
    font-display: space-around;
    align-self: center;
}

#blah{
    font-size: 10px;
}

.content_box_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footer{
    display: grid;
    font-size: 10px;
    grid-area:footer;
    background-color: white;
    font-family: 'Montserrat', sans-serif; 
    grid-template: 
    "copy_right contact"
}
.copy_right{
    grid-area:copy_right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif; 
}


.contact{
    grid-area:contact;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
}
#call{
    align-self: center;
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
}

#write{
    align-self: center;
}

.sns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
}
#follow{
    align-self:center;
}
.sns_image{
    align-self: center;
}

